.input {
  font-weight: 300;
  color: black;
}
ion-icon {
  color: black;
}
ion-item {
  --background: #f1f1f1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 1rem;
}

.header {
  margin-top: 15rem;
  margin-bottom: 3rem;
  text-align: center;
  .subTitle {
    color: gray;
    font-size: 0.9rem;
  }
  title {
    font-size: 2rem;
  }
}

.loginLink {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 80%;
  right: 0;

  p {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
  }
}
