<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Welcome</h1>
    <p class="subTitle">Sign Up to create your account</p>
  </div>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          formControlName="fullName"
          type="text"
          placeholder="name"
          class="input"
        ></ion-input>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.regForm.controls?.['fullName'].touched && this.regForm.controls?.['fullName'].invalid"
        class=""
      >
        <ion-text color="danger" *ngIf="errorControl.fullName.errors?.required">
          <span>Full-Name is required</span>
        </ion-text>
      </div>
      <ion-item>
        <ion-input
          formControlName="email"
          type="text"
          placeholder="email"
          class="input"
        ></ion-input>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid"
        class=""
      >
        <ion-text color="danger" *ngIf="errorControl.email.errors?.required">
          <span>Email is required</span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.email.errors?.pattern">
          <span>Match the pattern</span>
        </ion-text>
      </div>
      <ion-item>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="password"
          class="input"
        ></ion-input>
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid"
        class=""
      >
        <ion-text color="danger" *ngIf="errorControl.password.errors?.required">
          <span>Password is required</span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.password.errors?.pattern">
          <span>1 UpperCase 1 LowerCase 1 Number At-least 8 characters</span>
        </ion-text>
      </div>

      <div class="loginLink">
        <p>
          Already a member?<a [routerLink]="['/login']" style="color: #ffc33f">
            Login now
          </a>
        </p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
