<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Welcome Back</h1>
    <p class="subTitle">Sign in to access your account</p>
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          formControlName="email"
          type="text"
          placeholder="email"
          class="input"
        ></ion-input>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>

      <div
        *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid"
        class=""
      >
        <ion-text color="danger" *ngIf="errorControl.email.errors?.required">
          <span>Email is required</span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.email.errors?.pattern">
          <span>Match the pattern</span>
        </ion-text>
      </div>

      <ion-item>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="password"
          class="input"
        ></ion-input>
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <div
        *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid"
        class=""
      >
        <ion-text color="danger" *ngIf="errorControl.password.errors?.required">
          <span>Password is required</span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.password.errors?.pattern">
          <span>1 UpperCase 1 LowerCase 1 Number At-least 8 characters</span>
        </ion-text>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color: #ffc33f"
          >Forgot Password</a
        >
      </div>

      <div class="signupLink">
        <p>
          New Member?<a [routerLink]="['/signup']" style="color: #ffc33f">
            Signup now
          </a>
        </p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
